/* sidebar social media start */

a {
  text-decoration: none;
}


.sidebar-social-media {
  z-index: 9999999 !important;
  display: block;
}

.sidebar-social-media nav {
  position: fixed;
  left: 0;
  width: 50px;
  margin-top: 150px;
  transition: all 0.3s linear;
  z-index: 9999 !important;
}

.sidebar-social-media nav ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-social-media nav li {
  height: 50px;
  position: relative;
}
.sidebar-social-media nav li a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding-right: 20%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 30px;
  display: grid;
  place-content: center;
}
.sidebar-social-media nav li:nth-child(1) a {
  background: #1877f2;
}
.sidebar-social-media nav li:nth-child(2) a {
  background: #303030;
}
.sidebar-social-media nav li:nth-child(3) a {
  background: #1877f2;
}
.sidebar-social-media nav li:nth-child(4) a {
  background: #e4405f;
}
.sidebar-social-media nav li:nth-child(5) a {
  background: #1877f2;
}

.sidebar-social-media nav li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.sidebar-social-media nav li a span {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: none;
}
.sidebar-social-media a:hover {
  z-index: 1;
  width: 200px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sidebar-social-media ul li a:hover span {
  display: block;
}

/* sidebar social media end */
