 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');


.logo img{
    padding: -50px;
}
.logo img:hover{
    transform: scale(1.07);
    transition: 1s ease-out;

}
.logo {
    cursor: pointer;
    /* margin-left: 5%; */
    padding: 5px;
}

/*  */

.home-to-contact ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}
.home-to-contact ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e9f2f1;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.home-to-contact ul li:hover::after{
    width: 100%;
}

